@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #ecf2f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  height: 100vh;
}

.card {
  background: #fff;
  border-radius: 0.75rem;
  box-shadow: 0px 10px 15px rgba(109, 127, 151, 0.1);
  width: 325px;
}
.card__header {
  background-image: url("../images/drawers.jpg");
  background-position: center -0.94;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.75rem 0.75rem 0 0;
  width: 100%;
  height: 200px;
  margin: 0;
}
.card__main {
  margin: 1.88rem;
}
.card__main h3 {
  color: #48556a;
}
.card__main p {
  color: #6d7f97;
  line-height: 1.65;
  margin: 0.75rem 0;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.95rem;
}
.card__footer__content {
  margin-left: -2.75rem;
}
.card__author__photo {
  background-image: url("../images/avatar-michelle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
}
.card__author__name {
  color: #48556a;
  font-weight: 700;
}
.card__date {
  color: #9eafc2;
}
.card__share__btn {
  background: #ecf2f8;
  color: #6d7f97;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  height: 0.35rem;
  width: 0.35rem;
  z-index: 100;
}
.card__share__btn__contain {
  z-index: 500;
}
.card__share__info {
  display: none;
  background: #48556a;
  border-radius: 0 0 0.75rem 0.75rem;
  margin: -3.95rem -1.88rem -1.88rem;
  padding: 1.88rem;
  position: relative;
  z-index: 50;
}
.card__share__info span {
  color: #9eafc2;
  letter-spacing: 5px;
  margin-right: 1.25rem;
  text-transform: uppercase;
}
.card__share__info__inner {
  display: flex;
}
.card__share__social {
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  margin-top: -0.25rem;
}
.card__share__social i {
  align-items: center;
  margin-right: 0.75rem;
}

.attribution {
  bottom: 0;
  font-size: 11px;
  position: absolute;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 800px) {
  .card {
    display: flex;
    flex-direction: row;
    height: 280px;
    width: 730px;
  }
  .card__header {
    background-position: center left;
    border-radius: 0.75rem 0 0 0.75rem;
    height: 100%;
    width: 100%;
  }
  .card__main {
    margin: 2rem;
  }
  .card__main h3 {
    font-size: 1.25rem;
  }
  .card__main p {
    margin-top: 0.75rem;
  }
  .card__footer {
    justify-content: flex-start;
    margin: 0;
    padding-top: 0.5rem;
  }
  .card__footer__content {
    margin-left: 1rem;
  }
  .card__author__photo {
    height: 2.5rem;
    width: 2.5rem;
  }
  .card__share__btn__contain {
    margin-left: auto;
  }

  .card__share__info {
    align-items: center;
    justify-content: flex-end;
    border-radius: 0.75rem;
    display: none;
    height: 55px;
    left: -3px;
    margin-left: auto;
    margin-right: -6.5rem;
    padding: 0;
    top: -50px;
    width: 245px;
  }
  .card__share__info::after {
    content: "";
    display: block;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #48556a transparent transparent transparent;
    left: -100px;
    top: 30px;
    position: relative;
    width: 0;
  }
  .card__share__info__inner {
    display: flex;
    margin-right: -7px;
  }
}