@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$vd-blue: hsl(209, 33%, 12%);
$white: #fff;
$font: 'Libre Franklin', sans-serif;
$font-size: 20px;

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: {
    family: $font;
    size: 0.75rem;
  }
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 3.45rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  width: 320px;
}

h1 {
  color: $gray;
  font: {
    size: 1.35rem;
    weight: 300;
  }
  letter-spacing: 0.5px;
  margin: 2.25rem 0 1rem;

  & span {
    color: $vd-blue;
    font-weight: 700;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 0;
  width: 90%;
}

button,
input[type=email] {
  border-radius: 1.75rem;
  font-size: 0.75rem;
  letter-spacing: 0.45px;
  outline: none;
  padding: 0.75rem 1rem;
}

input[type=email] {
  border: 0.09rem solid $pale-blue;
  margin: .75rem 0;
}

::placeholder {
  color: $pale-blue;
}

button {
  background: $blue;
  border: 0;
  box-shadow: 0px 7px 10px hsla(223, 87%, 63%, 0.3);
  color: $white;
  font-weight: 600;
}

#emptyError, #invalidError {
  color: $light-red;
  display: none;
  margin-bottom: 2rem;
  text-align: center;
}


.illustration {
  height: auto;
  margin: 3rem 0 7rem;
  width: 100%;
}

footer {
  color: $gray;
}

.social {
  display: flex;
  justify-content: center;

  &__icon {
    border: 1px solid $pale-blue;
    border-radius: 100%;
    color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.75rem;
    padding: 0.75rem;
    height: 0.35rem;
    width: 0.35rem;

    &:hover {
      background: $blue;
      color: $white;
    }
  }
}

.copy {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1.5rem;
}

.footer-attribution {
  display: flex;
  justify-content: center;

  & .attribution {
    font-size: 11px;
    text-align: center;
  }

  & .attribution a {
    color: $blue;
  }
}


@media only screen and (min-width: 675px) {
  body {
    font-size: 1.25rem;
  }

  .logo {
    width: 5.3rem;
  }

  main {
    width: 640px;
  }

  h1 {
    font-size: 3rem;
  }

  form {
    display: inline;
    text-align: center;
    width: 100%;
  }

  button, input[type=email] {
    font: {
      size: 1rem;
    }
  }

  input[type=email] {
    margin-right: .5rem;
    padding: 1.15rem;
    width: 60%;
  }

  button {
    border-radius: 3rem;
    padding: 1.25rem 3.5rem;
  }

  .social__icon {
    font-size: 1rem;
  }

  .copy {
    font-size: .85rem;
  }

  #emptyError, #invalidError {
    font-size: .75rem;
    margin-left: 2.5rem;
    text-align: left;
  }

}
